*{
    margin:0;
    padding:0;
}
body{
    position: relative;
    height: 100vh;
}
.main-section{
    width:40%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
}
img{
    width:40%;
    height:300px;
    justify-items: center;
    align-items: center;
}
p{
    font-size: 1.4rem;
}